body {
    padding: 0;
    margin: 0;
}

#popup {
    display: none;
    border-radius: 20px;
    border: 6px solid #2D3742;
    margin-top: 20%;
    width: 300px;
    height: 150px;
    z-index: 999999999;
    margin-left: 25%;
    background: #647A90;
    padding: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    color: #fff;
}

#popup.visible {
    display: inline-block;
}

#popup button {
    border-radius: 5px;
    display: block;
    padding: 5px 30px;
    font-size: 18px;
    font-family: monospace;
    color: white;
    border: 0;
    margin-left: 35%;
    margin-top: 50px;
}

#popup button:active {
    border: 2px solid #60616F;
    padding: 1px 26px;
}