body {
    padding: 0;
    margin: 0;
}

#popup {
    display: none;
    border-radius: 20px;
    border: 6px solid #2D3742;
    margin-top: 20px;
    width: 300px;
    height: 150px;
    z-index: 999999999;
    margin-left: 25px;
    background: #647A90;
    padding: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    color: #fff;
}

#popup.visible {
    display: inline-block;
}

#popup .button {
    border-radius: 5px;
    display: block;
    padding: 5px 30px;
    font-size: 18px;
    font-family: monospace;
    color: white;
    background: #C7CED4;
    border: 0;
    /*margin-left: 35%;*/
    margin-top: 50px;
}

#popup .button:active {
    border: 2px solid #60616F;
    padding: 1px 26px;
}

#stars {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    padding: 5px;
}

#stars .star {
    width: 32px;
    height: 32px;
    display: inline-block;
    /*background: #E0C438;*/
    background: url('../res/tilesets/star.png');
}

#stars.highlight {
    animation: stars-highlight 2s 1;
}

@keyframes stars-highlight {
    0% {background: none;}
    11% {background: none;}
    12% {background: #E0C438;}
    23% {background: #E0C438;}
    24% {background: none;}
    34% {background: none;}
    35% {background: #E0C438;}
    46% {background: #E0C438;}
    47% {background: none;}
    58% {background: none;}
    59% {background: #E0C438;}
    70% {background: #E0C438;}
    71% {background: none;}
    82% {background: none;}
    83% {background: #E0C438;}
    94% {background: #E0C438;}
    95% {background: none;}
    100% {background: none;}
}

@keyframes logo-container-reveal {
    0% {background: none;}
    100% {background: rgba(250, 250, 250, 0.8);}
}

@keyframes logo-reveal {
    0% {transform: scale(0.0);}
    12% {transform: scale(0.0);}
    13% {transform: scale(0.12);}
    24% {transform: scale(0.12);}
    25% {transform: scale(0.25);}
    35% {transform: scale(0.25);}
    36% {transform: scale(0.37);}
    49% {transform: scale(0.37);}
    50% {transform: scale(0.5);}
    65% {transform: scale(0.5);}
    66% {transform: scale(0.65);}
    74% {transform: scale(0.65);}
    75% {transform: scale(0.75);}
    86% {transform: scale(0.75);}
    87% {transform: scale(0.87);}
    99% {transform: scale(0.87);}
    100% {transform: scale(1.0);}
}

#logo-container {
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.8);
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#logo-container.visible {
    display: block;
    animation: logo-container-reveal 2s 1;
}

#logo-container img {
    margin-top: 50px;
    transform: scale(0);
}

#logo-container.visible img {
    animation-name: logo-reveal;
    animation-duration: 2s;
    animation-iterations: 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

